<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <bean id="abnormalAccountMail" class="me.jor.spring.mail.SendMailUtil" scope="prototype">
         <property name="mailSender">
            <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" scope="prototype">
		        <property name="host">
		            <value>smtp</value><!-- smtp -->
		        </property>
		        <property name="username">
		            <value></value><!-- 发件人电邮账号 -->
		        </property>
		        <property name="password">
		            <value></value><!-- 电邮密码 -->
		        </property>
		        <property name="javaMailProperties">
		            <props>
		                <prop key="mail.smtp.auth">true</prop>
		                <prop key="mail.smtp.timeout">25000</prop>
		                <prop key="mail.transport.protocol">smtp</prop>
		            </props>
		        </property>
		    </bean>
         </property>
         <property name="msgHelper">
            <bean class="org.springframework.mail.javamail.MimeMessageHelper" scope="prototype">
		          <constructor-arg index="0">
		            <bean class="javax.mail.internet.MimeMessage" factory-bean="mailSender" factory-method="createMimeMessage" scope="prototype"/>
		          </constructor-arg>
		          <constructor-arg index="1">
		            <value>true</value>
		          </constructor-arg>
		          <constructor-arg index="2">
		            <value>UTF-8</value>
		          </constructor-arg>
		    </bean>
         </property>
         <property name="from">
            <value></value><!-- 发件人 -->
          </property>
          <property name="subject">
            <value>异常账号</value>
          </property>
          <property name="contentTemplate">
            <value>
                <![CDATA[。。。。]]><!-- 电邮内容 -->
            </value>
          </property>
    </bean>
</beans>